div.jira {
  margin: 0;
  padding: 0;
}

div.jira ul,
div.jira ol {
  margin: 0 10px;
  padding: 0 0;
}

div.jira ul li,
div.jira ol li {
  line-height: 1;
  margin: 0 10px;
  padding: 0 0;
}

div.jira p {
  margin: 0 0;
  padding: 0 0;
}
